

body{
    
	background-image: url("/image/360_F_440061894_r4YLuVykiivBDz7tj1Uvk8tli8T6bn2I.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
button{
    color: white;
    background-color: blue;
    border-radius: 10px;
	cursor: pointer;
}
.Button:hover  {
    color: white;
background-color: blue;
}
